.profile-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.profile-container p {
    color : white;
    font-weight: bolder;
}

.pref-container {
    display: flex;
    flex-direction: column;
    height: 325px;
    margin-top: 1rem;
    justify-content: flex-start;
    overflow-y: auto;
}

.pref {
    margin-bottom: 1rem;
    border: solid #411a6c;
    padding: 5px 10px;
    border-radius: 5%;
    background-color: #411a6c;
    color: white;
}

.profile-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.profile-title {
    color: white;
    font-size: x-large;
}

.profile-picture {
    border-radius: 50%;
    object-fit: contain;        
    height: 150px;   
    margin-top: 1rem;

}

.edit-link {
    text-decoration: none;
}