/* Container for the form */
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #6c31af;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Label Styling */

form h1, h2 {
    color: whitesmoke;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    background-color: #411a6c;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

form h2 {
    font-size: 1.2em;
}

/* Styling for each question's container */
form > div {
    margin-bottom: 20px;
}

/* Radio Buttons and Options */
form input[type="radio"] {
    margin-right: 10px;
}

form label {
    color: whitesmoke;
}

form div > div {
    margin-left: 20px;
    margin-bottom: 8px;
}

/* Button Styling */
form button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #411a6c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #311550;
}

.personal-info {
    display: flex;
    flex-direction: column; 
}

.personal-info input, textarea {
    margin-bottom: 1em;
}
